@model Registration
@{
    ViewData["Title"] = "DisplayRegistrationData";
}

<h1>InHouse LockDown Party</h1>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ReUnion Party</title>
</head>
<body>

    <h3>
        Welcome at ReUnion Party
    </h3>


</body>
</html>


