
@{
    ViewData["Title"] = "Index";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
    <title>FirstPage</title>
</head>
<body>
    <p>
        <i>
            A class reunion is a meeting of all the former classmates, often organized at or near their former school or college by one or more class members. It is scheduled near an anniversary of their graduation, or on any special date.

            Their teachers and administrators may be invited. Those attending reminisce about their student days and bring each other up to date on what has happened since they last met.

            Participants often nostalgically reminisce about their old school days or fondly remember their school pranks. They can be concerned about how their lives have turned out compared with the lives of their former classmates, and can feel pressured enough to fabricate stories about their careers, personal accomplishments, and relationships.
    </p></i>
    <img src="https://images.thequint.com/thequint%2F2021-05%2Fd05e1867-8592-4d23-b056-e103b2e41643%2F190319061_506065647199656_3523451449537373291_n_1_.jpg?rect=0%2C0%2C1079%2C607&w=1200&auto=format%2Ccompress&ogImage=true" alt="ReUnion" style="width:50%;">
    <br />
    <br />
    <div class="text-center"><a href="/Registration/RegistrationForm" class="btn btn-primary">Register for Union Party</a></div>



</body>
</html>

