@model Registration
@{
    ViewData["Title"] = "RegistrationForm";
}

@{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<h1>Registration Form</h1>
<form asp-controller="Registration" asp-action="DisplayRegistrationData" method="post">
    <div asp-validation-summary="All" class="text text-danger"></div>


    <div class="form-group">
        <label for="Name">Name:</label><input type="text" asp-for="Name" class="form-control" />
        <span asp-validation-for="Name"></span>
        <br />
    </div>


    <div class="form-group">
        <label for="pwd">Email:</label><input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email"></span>
        <br />
    </div>


    <div class="form-group">
        <label for="pwd">Phone:</label><input asp-for="Phone " class="form-control" />
        <span asp-validation-for="Phone"></span>
        <br />
    </div>


        @*WillAttend : <input asp-for="WillAttend " class="form-control" />
            <span asp-validation-for="WillAttend"></span>
                <br />*@


        <p>
            Will Attend : @Html.DropDownListFor(m => m.Options,
new SelectList(Enum.GetValues(typeof(WillAttend))),
"Will Attend")

        </p>
        <button type="submit" class="btn btn-success">Submit</button>

</form>




